{**
* 2017 Skrill
*
* NOTICE OF LICENSE
*
* This source file is subject to the Academic Free License (AFL 3.0)
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/afl-3.0.php
*
*  @author Skrill <contact@skrill.com>
*  @copyright  2017 Demoshop
*  @license    http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
*}

{extends file='page.tpl'}

{block name="content"}
	<section>
		<iframe style = "background: white; border:none; width:100%; height:750px; margin-bottom:25px;" src="{$redirectUrl|escape:'htmlall':'UTF-8'}" ></iframe>
	</section>
{/block}
